<div class="container-xxl flex-grow-1 container-p-y other-page-c">
  <div class="card none-shadow">
    <div class="card-header">
      <h4 class="fw-bold mb-1">It is a long established fact that a reader</h4>

      <hr />

      <div class="row g-4 mb-4 mt-4">
        <div
          class="col-md-12 col-xl-12"
          style="border-style: dashed; padding: 10px; border-radius: 10px"
        >
          <div class="card" style="align-items: center">
            <div class="card-body bg-1">
              <div class="card-title d-flex">
                <div class="card-icon d-flex j-content">
                  <span class="badge bg-label-primary rounded p-2">
                    <i class="bx bx-cloud-upload bx-sm"></i>
                  </span>
                  &nbsp;&nbsp;&nbsp;
                  <span class="card-title d-md-block big-font color">
                    <h5 class="fw-semibold d-md-inline-block mb-1 mr-2 color1">
                      Import Customer Data
                    </h5>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row g-4 mb-4 mt-4">
        <div class="col-sm-6 col-xl-3">
          <div class="card" style="height: 275px; align-items: center; border-bottom: 0.6rem solid rgb(23, 181, 225);
          border-radius: 20px 20px 20px 20px;">
            <div class="card-body bg-1">
              <div class="card-title align-content-center justify-content-between"  style="margin-top: 4rem;">
                <div class="card-icon j-content">
                  <span class="badge bg-label-primary rounded p-2">
                    <i class="bx bxs-message bx-sm"></i>
                  </span>
                  <h5 class="fw-semibold d-md-inline-block mb-1 mt-4 color">
                    SMS integrated<span
                      class="card-title d-md-block big-font color5"></span>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card" style="height: 275px; align-items: center; border-bottom: 0.6rem solid rgb(197, 20, 150);
            border-radius: 20px 20px 20px 20px;">
              <div class="card-body bg-1">
                <div class="card-title align-content-center justify-content-between"  style="margin-top: 4rem;">
                  <div class="card-icon j-content">
                    <span class="badge bg-label-primary rounded p-2">
                      <i class="bx bx-envelope bx-sm"></i>
                    </span>
                    <h5 class="fw-semibold d-md-inline-block mb-1 mt-4 color">
                      Email integrated<span
                        class="card-title d-md-block big-font color5"></span>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3">
            <div class="card" style="height: 275px; align-items: center; border-bottom: 0.6rem solid rgb(10, 102, 177);
            border-radius: 20px 20px 20px 20px;">
              <div class="card-body bg-1">
                <div class="card-title align-content-center justify-content-between"  style="margin-top: 4rem;">
                  <div class="card-icon j-content">
                    <span class="badge bg-label-primary rounded p-2">
                      <i class="bx bx-user-circle bx-sm"></i>
                    </span>
                    <h5 class="fw-semibold d-md-inline-block mb-1 mt-4 color">
                      Customer Profile<span
                        class="card-title d-md-block big-font color5"></span>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3">
            <div class="card" style="height: 275px; align-items: center; border-bottom: 0.6rem solid rgb(209, 152, 17);
            border-radius: 20px 20px 20px 20px;">
              <div class="card-body bg-1">
                <div class="card-title align-content-center justify-content-between"  style="margin-top: 4rem;">
                  <div class="card-icon j-content">
                    <span class="badge bg-label-primary rounded p-2">
                      <i class="bx bx-grid-vertical bx-sm"></i>
                    </span>
                    <h5 class="fw-semibold d-md-inline-block mb-1 mt-4 color">
                      Marketing analytics<span
                        class="card-title d-md-block big-font color5"></span>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
